;; Your file has been converted to the new flat format.
;; Conversion does not preserve comments or indentation.
;; File is backed up at /Users/kondo/Library/Application Support/LightTable/User/user.keymap.bak

;; @が入力できない問題への暫定対応ができるが...
;; 設定すると '(' の入力でsubpar.open-pair が効かなくなる
;; http://qiita.com/kurogelee/items/44384950fe1b277c4021
;;"@" [(:eval.custom "\"@\"" {:result-type :replace :verbatim true})]


[
 ;; デフォルトのキーバインドを解除 ===========================================================
 [:app "-alt-x" :show-commandbar-transient]
 [:app "-f11" :window.fullscreen]
 [:app "-pmeta-shift-f" :searcher.show]

 ;; emacs のキーバインドを解除
 [:editor.keys.emacs "-ctrl-k" (:emacs.keymap-cmd "Ctrl-K")]
 [:editor.keys.emacs "-ctrl-t" [(:emacs.keymap-cmd "Ctrl-T")]]

 ;; キーバインドを設定 =================================================================
 [:app "ctrl-:" :show-commandbar-transient]
 [:app "ctrl-;" :workspace.show]
 [:app "ctrl-shift-space" :toggle-console]
 [:app "ctrl-l" :clear-console]
 ;; フルスクリーンで表示する
 [:app "ctrl-f11" :window.fullscreen]

 ;; 検索する
 [:app "ctrl-t s" :searcher.show]

 [:editor "ctrl-[" :paredit.select.parent]

 ;; 空白を除いた行の先頭に移動する
 [:editor "ctrl-t a" :editor.line-start-smart]

 [:editor "ctrl-t w" :editor.force.wrap]

 [:app "alt-cmd-i" :dev-inspector]

;; "cmd-=" [:paredit.select.parent :smart-indent-selection :paredit.select.clear]



 ;;; 括弧の対応を維持する
 ;;;
 ;;; 標準と比べ subpar の方は制約がきびしい
 ;;; 緩くしたいと思ったら標準を利用する
 ;;
 ;;  [:editor "(" (:editor.open-pair "(")]
 ;;  [:editor "[" (:editor.open-pair "[")]
 ;;  [:editor "{" (:editor.open-pair "{")]
 ;;  [:editor ")" (:editor.close-pair ")")]
 ;;  [:editor "]" (:editor.close-pair "]")]
 ;;  [:editor "}" (:editor.close-pair "}")]
 ;;  [:editor "\"" (:editor.repeat-pair "\"")]
 [:editor "(" (:subpar.open-pair "()")]
 [:editor "[" (:subpar.open-pair "[]")]
 [:editor "{" (:subpar.open-pair "{}")]
 [:editor ")" (:subpar.close-pair ")")]
 [:editor "]" (:subpar.close-pair "]")]
 [:editor "}" (:subpar.close-pair "}")]
 [:editor "\"" :subpar.insert-double-quote]

 ;; 選択領域をコメント/アンコメントする
 [:editor "ctrl-]" :toggle-comment-selection]

 [:editor "ctrl-shift-h" :editor.backspace-indent]
 [:editor "ctrl-shift-9" :subpar.grow.right]
 [:editor "cmd-up" :subpar.move.backward-up]
 [:editor "cmd-down" :subpar.move.forward-down]
 [:editor "alt-up" :subpar.splice.delete-backward]

 [:editor "ctrl-k" :paredit-plus.kill]
 [:editor "pmeta-i" :clear-inline-results]

;;  [:editor "ctrl-shift-." :editor.sublime.selectLinesDownward]
;;  [:editor "ctrl-shift-/" :editor.sublime.singleSelectionTop]
;;  [:editor "ctrl-shift-s" :searcher.show]
;;  [:editor "alt-shift-w" :editor.watch.unwatch]

;;  [:editor "pmeta-d" :editor.doc.toggle]
;;  [:editor "ctrl-t" :tabset.next]
;;  [:editor "alt-w" :editor.watch.watch-selection]



;;  [:editor "ctrl-shift-h" :editor.sublime.selectNextOccurrence]
;;  [:editor "ctrl-shift-," :editor.sublime.selectLinesUpward]

;;  [:editor.clj "alt-down" :subpar.splice.delete-forward]

;;  [:editor.clj "alt-shift-8" (:subpar.open-pair "()") :subpar.grow.right]
;;  [:editor.clj "cmd-right" :subpar.move.forward]
;;  [:editor.clj "ctrl-shift-8" :subpar.grow.left]
;;  [:editor.clj "delete" :subpar.delete.right]

;;  [:editor.clj "ctrl-shift-[" :subpar.shrink.left]
;;  [:editor.clj "alt-s" :subpar.splice]
;;  [:editor.clj "ctrl-shift-]" :subpar.shrink.right]
;;  [:editor.clj "cmd-down" :subpar.move.forward-down]
;;  [:editor.clj "cmd-left" :subpar.move.backward]

;;  [:editor.clj "backspace" :subpar.delete.left]


;;  [:editor.cljs "\"" :subpar.insert-double-quote]
;;  [:editor.cljs "alt-down" :subpar.splice.delete-forward]

;;  [:editor.cljs "alt-shift-8" (:subpar.open-pair "()") :subpar.grow.right]
;;  [:editor.cljs "cmd-right" :subpar.move.forward]
;;  [:editor.cljs "ctrl-shift-8" :subpar.grow.left]
;;  [:editor.cljs "delete" :subpar.delete.right]
;;  [:editor.cljs "ctrl-shift-9" :subpar.grow.right]
;;  [:editor.cljs "cmd-up" :subpar.move.backward-up]
;;  [:editor.cljs "ctrl-shift-[" :subpar.shrink.left]
;;  [:editor.cljs "alt-s" :subpar.splice]
;;  [:editor.cljs "ctrl-shift-]" :subpar.shrink.right]
;;  [:editor.cljs "cmd-down" :subpar.move.forward-down]
;;  [:editor.cljs "cmd-left" :subpar.move.backward]
;;  [:editor.cljs "backspace" :subpar.delete.left]


;;  [:editor.keys.emacs "-delete" (:emacs.keymap-cmd "Delete")]
;;  [:editor.keys.emacs "-backspace" (:emacs.keymap-cmd "Backspace")]

;;  [:editor.keys.normal "-\"" (:editor.repeat-pair "\"")]
;;  [:editor.keys.normal "-(" (:editor.open-pair "(")]
;;  [:editor.keys.normal "-)" (:editor.close-pair ")")]
;;  [:editor.keys.normal "-[" (:editor.open-pair "[")]
;;  [:editor.keys.normal "-{" (:editor.open-pair "{")]
;;  [:editor.keys.normal "-]" (:editor.close-pair "]")]
;;  [:editor.keys.normal "-}" (:editor.close-pair "}")]
;;  [:editor.keys.normal "-backspace" :editor.backspace-pair]

 [:filter-list.input "ctrl-n" (:filter-list.input.move-selection 1)]
 [:filter-list.input "ctrl-p" (:filter-list.input.move-selection -1)]
]
